.pure-g.width-narrow {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 48em) {
	.mobile-1 {
		order: 1;
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
	}
	.mobile-2 {
		order: 2;
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
	}
}
