[data-ec-wrapper] .apos-ui .apos-dropdown.apos-dropdown--area-controls>.apos-dropdown-items {
	max-width: 600px;
	width: 600px;
	column-count: 3;
	left: -50%;
}

[data-ec-wrapper] [data-ec-column-first],
[data-ec-wrapper] [data-ec-column-last] {
	.apos-ui .apos-dropdown.apos-dropdown--area-controls>.apos-dropdown-items {
		width: initial;
		column-count: 1;
		width: min-content;
		left: 0;
	}
}

.apos-ui .apos-dropdown.apos-dropdown--area-controls>.apos-dropdown-items {
	column-count: 1;
}

[data-apos-add-item='ec-one-column'],
[data-apos-add-item='ec-two-column'],
[data-apos-add-item='ec-three-column'],
[data-apos-add-item='ec-four-column'] {
	background-color: #f1f1f1;
}